/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
  background-color: lightblue;
  margin: 100px 0;
}
h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
