/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --hero-background-color: #f9f7fe;
  --secondary-font-color: #272142;
  --h1-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-family: var(--secondary-font-family);
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
}
.hero {
  background: var(--hero-background-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: var(--secondary-font-family);
  font-size: 96px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-font-color);
}
.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-font-color);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 14px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.btn-branding:hover {
  opacity: 0.8;
  color: white;
}
