/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --hero-background-color: #f9f7fe;
  --secondary-font-color: #272142;
  --h1-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 64px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}
.hero {
  background: var(--hero-background-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: var(--secondary-font-family);
  font-size: 96px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-font-color);
  text-shadow: 7px 3px 7px var(--branding-color);
}
.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-font-color);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 14px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.btn-branding:hover {
  opacity: 0.8;
  color: white;
  text-decoration: underline;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 14px;
}
.btn-branding-outline:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.project-description {
  padding: 68px 60px;
}
.project-image {
  padding-top: 83px;
}

@media (max-width: 960px) {
  h2 {
    font-size: 48px;
  }
  .hero p {
    font-size: 64px;
    line-height: 2;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.arrow {
  text-shadow: 7px 4px 5px var(--branding-color);
}
