/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6c63ff;
  --hero-background-color: #f9f7fe;
  --secondary-font-color: #272142;
  --h1-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 64px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}
footer {
  margin: 60px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: #f8f9fa;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
.content-container {
  font-size: 64px;
  line-height: 85px;
  padding: 100px 20px;
}
.content-container h1 {
  margin-left: 30px;

  font-family: var(--secondary-font-family);
  font-size: 94px;
  font-weight: bold;
  color: var(--secondary-font-color);
  text-shadow: 7px 3px 7px var(--branding-color);
}
.content-container p {
  line-height: 1.5;
  font-size: 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--secondary-font-family);
}

.about-image {
  max-width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 98px 6px rgba(0, 0, 0, 0.2);
}
.coding-certificate {
  max-width: 450px;
}
.hero {
  background: var(--hero-background-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: var(--secondary-font-family);
  font-size: 94px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-font-color);
  text-shadow: 7px 3px 7px var(--branding-color);
}
.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-font-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 14px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.btn-branding:hover {
  opacity: 0.8;
  color: white;
  text-decoration: underline;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 14px;
}
.btn-branding-outline:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

.project-description {
  padding: 68px 60px;
}
.project-image {
  padding-top: 83px;
}
.contact-Marla-button {
  display: block;
  text-align: center;
}
mark {
  font-weight: bold;
  background-color: #f8f9fa;
}

@media (max-width: 960px) {
  h2 {
    font-size: 48px;
  }
  .hero p {
    font-size: 64px;
    line-height: 2;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-hero {
    text-align: center;
    padding: 0;
  }
  .about-hero h1 {
    margin-top: 50px;
  }
  .about-me {
    margin-left: 0;
  }
  .about-image {
    max-width: 300px;
    margin: 20px 90px;
  }

  .projects-button {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 12px 30px;
  }
  .content-container h1 {
    font-size: 64px;
  }
}

.arrow {
  text-shadow: 7px 4px 5px var(--branding-color);
}
.arrow-contact {
  text-shadow: 7px 4px 5px var(--branding-color);
  margin-top: 64px;
}
.box-shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.04), 0 0 0 6px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.17);
}
.email-link {
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.contact {
  margin-top: 40px;
  padding: 28px;
}
.nav-item:hover {
  text-decoration: underline;
}
.active {
  color: var(--branding-color) !important;
}
