/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
  margin: 100px 0;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background: f9f7fe;
  text-align: center;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 96px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.btn-branding {
  background: #6c63ff;
  border-radius: 14px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.btn-branding:hover {
  opacity: 0.8;
  color: white;
}
